<h1>Edit Your Profile</h1>

  <%= form_for @user do |f| %>
  <%= f.text_field :name, value: "<%= @user.name %>", placeholder: "name" %>
    <br/>
  <%= f.text_field :email, value: "<%= @user.email %>", placeholder: "your email" %>
    <br/>


  <%= f.submit "Submit Edit" %>
  <% end %>