<div class="m-list">
	<ul class="user-grid">
	<% @users.each do |user| %>
		<li>
			<a href="/users/<%= user.id %>">
				<figure>
					<img src="<%= user.img_url %>" height="180px" width="180px" alt="pic">
						<figcaption>
							<p>
								<%= user.name %><br><%= user.title %><br><%= user.location.city if user.location %><br><%= user.years_experience %> year(s) experience
							</p>
						</figcaption>
				</figure>
			</a>
		</li>
	<% end %>
</ul>
<div>