<ul class="user-grid">
 <% @users.each do |user| %>

 <li>
 	<a href="/users/<%= user.id %>">
	<img src="<%= user.img_url %>" width="150px" height="150px"> <span class="mentor-text"><span><%= user.name  %><br><br><%=  user.title %><br><%=  user.title %><br><span style="font-style: italic"><%= user.years_experience %> years experience</span></span></span>
	</a>
  </li>

<% end %>

</ul>



