<h1>SIGN UP</h1>

  <%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "name" %>
  <%= f.text_field :email, placeholder: "your email" %>
    <br/>
  <%= f.password_field :password, placeholder: "password" %>
    <br/>
  <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <br/>
    <label>What do you consider yourself?</label>

    <select for="user_type" name="user[mentor_type]">
      <option class="user_type" type="text" value="mentor">Mentor</option>
      <option class="user_type" type="text" value="mentee">Mentee</option>
      <option class="user_type" type="text" value="both">Both</option>
    </select> 

    <label>What is your current industry? </label>

    <select for="user_type" name="user[industry_id]">
      <% @industries.each do |i| %>
      <option class="user_type" type="text" value="<%=i.id%>"><%= i.name %></option>
      <% end %>
    </select>

    <%= f.submit "Submit" %>
  <% end %>