<h1>SIGN UP</h1>

  <%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "name" %> 
    <br/>
  <%= f.text_field :email, placeholder: "your email" %>
    <br/>
  <%= f.password_field :password, placeholder: "password" %>
    <br/>
  <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <br/>

    <%= f.submit "Submit" %>
  <% end %>