<div class="main">

  <section class="profile-left">
   <div class="imageAndName">
	<h4><%= @user.name  %></h4>
	<img id="linkedin-pic" src="<%= @user.img_url %>">
	</div>

	<p><span>Role:</span> <%=@user.role.name  %> </p>
	<p><span>Industry:</span> <%=@user.industry.name %> </p>
	<p><span>Title:</span> <%=@user.title  %> </p>
	<p id="email"><span>Email:</span> <a href="mailto:<%=@user.email %>"><%=@user.email %> </a></p>
	<p><span>Years experience: <%=@user.years_experience %></p>
  </section>

  <section class="profile-right">
  	<article id="bio">
	<p><span>Bio:</span> <%=@user.bio %></p>
	</article>
	<article id="fun-fact">
	<p><span>Fun fact:</span> <%=@user.fun_fact %></p>
	</article>
	<article id="interests">
	<p><span>Interests:</span> <%=@user.interests %></p>
	</article>

	<% if current_user.id == @user.id %>
	<%= link_to "Edit", edit_user_url(current_user) %>
	<% else %>
	<a href="mailto:<%=@user.email %>"><span>Message</a></span>
	<% end %>
  </section>

</div>