<h1>Hi <%= @user.name %>!</h1>
<%= form_for(@user) do |f| %>
<label>What do you consider yourself?</label>

<select for="user_type" name="user[mentor_type]">
	<option class="user_type" type="text" value="mentor">Mentor</option>
	<option class="user_type" type="text" value="mentee">Mentee</option>
	<option class="user_type" type="text" value="both">Both</option>
</select>

<label>Name: </label>
<input type="text" name="user[name]" value='<%= @user.name %>'>

<label>Title: </label>
<input type="text" name="user[title]">

<label>Email: </label>
<input type="text" name="user[email]" value='<%= @user.email %>'>
<br><br>

<label>Industry: </label>
<select for="user_type" name="user[industry_id]">
	<% @industries.each do |i| %>
	<option class="user_type" type="text" value="<%=i.id%>"><%= i.name %></option>
	<% end %>
</select>


<label>Years of Experience:     </label>
<input type="number" name="user[years_experience]" min="0" max="50">

<br><br>
<input type="text" size="100" name="user[bio]" placeholder="Insert a short description of yourself. Where did you grow up? What is your professional background? What are passionate about? Don't be shy!">

<br><br>
<input type="text" size="100" name="user[fun_fact]" placeholder="Fun fact about yourself">

<br><br>
<input type="text" size="100" name="user[fun_fact]" placeholder="Interests">
<br>
<br>

<label for="user_skill">Skills: </label><br>
<% @skills.each do |i| %>

<input class="user[skill]" name="user[skill_id][]" type="checkbox" value="<%= i.id %>">
<%= i.name %>
</input>
<br>

<% end %>
<br>
<label>Availability: </label>
<select for="availability" name="user[availability_id]">
	<% @avails.each do |i| %>
	<option  class="user_availability" type="type" value="<%= i.id %>">
		<%= i.name %>
	</option>
	<br>
	<% end %>
</select>
<br>    

<label>Location: </label><br>
<select for="user_location" name="user[job_location_id]">
	<%  @locations.each do |l| %>

	<option  class="user_availability" type="type" value="<%= l.id %>">
		<%= l.city %>
	</option>
	<br>
	<% end %>
</select>
<br>    

<input type="submit">    
<% end %>