
<section class="profile">

<% if current_user.id == @user.id %>
  <%= link_to "Edit", edit_user_url(current_user) %>
  <% else %>
  <a href="mailto:<%=@user.email %>"><div>Message</a></div>
  <% end %>

<div>
  <img id="linkedin-pic" src=<% if @user.img_url %>
  "<%= @user.img_url%>"
  <% else %>
  "https://www.skillfullyaware.com/wp-content/uploads/2014/10/profile_avatar_default.png">>
<% end %>
</div>


<h4>Name: <%= @user.name  %></h4>
<p>Role: <%=@user.role.name  %> </p>
<p>Industry: <%=@user.industry.name %> </p>
<p>Title: <%=@user.title  %> </p>
<p>Email: <a href="mailto:<%=@user.email %>"><%=@user.email %> </a></p>
<p>Years experience: <%=@user.years_experience %></p>
<p>Bio: <%=@user.bio %></p>
<p>Fun fact: <%=@user.fun_fact %></p>
<p>Interests: <%=@user.interests %></p>
</section>
