<%= stylesheet_link_tag "profile" %>

<div class="main">

  <section class="profile-left">
  
  <div class="imageAndName">
		<h4><%= @user.name  %></h4>
		<img id="linkedin-pic" src="<%= @user.img_url %>">
	</div>

	<p><span>ROLE: </span> <%=@user.role.name  %> </p>
	<p><span>INDUSTRY: </span> <%=@user.industry.name %> </p>
	<p><span>TITLE: </span> <%=@user.title  %> </p>
	<p><span>YEARS EXPERIENCE: </span><%=@user.years_experience %></p>
  <p><span>LOCATION: </span><%if @user.location %>
    <%= @user.location.city %>
    <% end %></p>
	<p id="email"><span>EMAIL: </span> <a href="mailto:<%=@user.email %>"><%=@user.email %> </a></p>
  </section>

  <section class="profile-right">
  	<article id="bio">
			<p><span>BIO:</span> <%=@user.bio %></p>
	</article>
	<article class="skillsAndInterests">
		<span>SKILLS:</span>
		<% @user.skills.each do |s| %>
		    <span class="skill"><%= s.name %></span>
	   <% end %>
	</article>

	<article class="skillsAndInterests">
		<p><span>INTERESTS:</span> <%=@user.interests %></p>
	</article>
	<article id="fun-fact">
		<p><span>FUN FACT:</span> <%=@user.fun_fact %></p>
	</article>
	
	<article id="availability">
		<p><span>AVAILABILITY:</span> <%if @user.availability %>
    <%=@user.availability.name %>.</p>
    <% end %>
	</article>

  <div class="editOrContactButton">
		<% if current_user.id == @user.id %>
		<%= link_to "EDIT", edit_user_url(current_user) %>
		<% else %>
		<a href="mailto:<%=@user.email %>">CONTACT</a>
		<% end %>
	 </div>
  </section>

</div>