<div class="main clearfix">
  <div class="testimonial">
    <section class="t-left">
      <%= image_tag("Mentor_Photos/2644902233_009933be9f_o.jpg", alt: "Andrew") %>
      <h1>ANDREW LIU</h1><br>
      <h2>New York, NY</h2><br>
      <h3>CREATIVE DIRECTOR</h3><br>
      <h4>8 years experience</h4><br>
    </section>
      <p class="t-right">“When I finally landed my dream job at EquipMe, I knew there were a lot of senior people I wanted to talk to. Unfortunately, due to the lack of communication, I felt hesitant to initiate contact because I didn’t want to feel like a burden. I was a new hire and fairly inexperienced in the field I was entering and was seeking someone with more experience who I could go to for advice. After our company adopted MentorMatch it completely changed the way our company functioned. Our culture is better, more transparent and our cross-divisional connections stronger. If not all, I will definitely give MentorMatch a significant amount of credit for my rapid career development within EquipMe!”
      <br><br><br>
      <i>- Katie Calhoun, 21, Intern</i></p>
  </div>

  <div class="testimonial">
    <section class="t-left">
      <%= image_tag("Mentor_Photos/2989887325_750142cce0_o.jpg", alt: "Andrew") %>
      <h1>ANDREW LIU</h1><br>
      <h2>New York, NY</h2><br>
      <h3>CREATIVE DIRECTOR</h3><br>
      <h4>8 years experience</h4><br>
    </section>
      <p class="t-right">“When I finally landed my dream job at EquipMe, I knew there were a lot of senior people I wanted to talk to. Unfortunately, due to the lack of communication, I felt hesitant to initiate contact because I didn’t want to feel like a burden. I was a new hire and fairly inexperienced in the field I was entering and was seeking someone with more experience who I could go to for advice. After our company adopted MentorMatch it completely changed the way our company functioned. Our culture is better, more transparent and our cross-divisional connections stronger. If not all, I will definitely give MentorMatch a significant amount of credit for my rapid career development within EquipMe!”
      <br><br><br>
      <i>- Katie Calhoun, 21, Intern</i></p>
  </div>

  <div class="testimonial">
    <section class="t-left">
      <%= image_tag("Mentor_Photos/3969298992_d3bc004797_b.jpg", alt: "Andrew") %>
      <h1>ANDREW LIU</h1><br>
      <h2>New York, NY</h2><br>
      <h3>CREATIVE DIRECTOR</h3><br>
      <h4>8 years experience</h4><br>
    </section>
      <p class="t-right">“When I finally landed my dream job at EquipMe, I knew there were a lot of senior people I wanted to talk to. Unfortunately, due to the lack of communication, I felt hesitant to initiate contact because I didn’t want to feel like a burden. I was a new hire and fairly inexperienced in the field I was entering and was seeking someone with more experience who I could go to for advice. After our company adopted MentorMatch it completely changed the way our company functioned. Our culture is better, more transparent and our cross-divisional connections stronger. If not all, I will definitely give MentorMatch a significant amount of credit for my rapid career development within EquipMe!”
      <br><br><br>
      <i>- Katie Calhoun, 21, Intern</i></p>
  </div>

   <div class="testimonial">
    <section class="t-left">
      <%= image_tag("Mentor_Photos/6883436922_df39a85d9b_k.jpg", alt: "Andrew") %>
      <h1>ANDREW LIU</h1><br>
      <h2>New York, NY</h2><br>
      <h3>CREATIVE DIRECTOR</h3><br>
      <h4>8 years experience</h4><br>
    </section>
      <p class="t-right">“When I finally landed my dream job at EquipMe, I knew there were a lot of senior people I wanted to talk to. Unfortunately, due to the lack of communication, I felt hesitant to initiate contact because I didn’t want to feel like a burden. I was a new hire and fairly inexperienced in the field I was entering and was seeking someone with more experience who I could go to for advice. After our company adopted MentorMatch it completely changed the way our company functioned. Our culture is better, more transparent and our cross-divisional connections stronger. If not all, I will definitely give MentorMatch a significant amount of credit for my rapid career development within EquipMe!”
      <br><br><br>
      <i>- Katie Calhoun, 21, Intern</i></p>
  </div>

  <div class="testimonial">
    <section class="t-left">
      <%= image_tag("Mentor_Photos/7916130802_779058c455_k.jpg", alt: "Andrew") %>
      <h1>ANDREW LIU</h1><br>
      <h2>New York, NY</h2><br>
      <h3>CREATIVE DIRECTOR</h3><br>
      <h4>8 years experience</h4><br>
    </section>
      <p class="t-right">“When I finally landed my dream job at EquipMe, I knew there were a lot of senior people I wanted to talk to. Unfortunately, due to the lack of communication, I felt hesitant to initiate contact because I didn’t want to feel like a burden. I was a new hire and fairly inexperienced in the field I was entering and was seeking someone with more experience who I could go to for advice. After our company adopted MentorMatch it completely changed the way our company functioned. Our culture is better, more transparent and our cross-divisional connections stronger. If not all, I will definitely give MentorMatch a significant amount of credit for my rapid career development within EquipMe!”
      <br><br><br>
      <i>- Katie Calhoun, 21, Intern</i></p>
    </p>
  </div>
</div>