<!DOCTYPE html>
<html>
<head>
  <title>MentorMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=link_to image_tag("MentorMatch_Logo.png", alt: "MentorMatch", class: "logo clearfix" ), root_path%>

<ul class="company-name">
  <li><%= link_to("mentor match", root_path) %></li>
</ul>

<nav class="logged-out">
  <ul style="margin-bottom:2em;">
    <li style= "float:right;"><%= link_to "about", "/about" %></li>
    <li style="margin-right: 1em; margin-left: 1em; float: right"><%= link_to "testimonials", "/testimonials" %></li>
    <li style="float: right"><%= link_to "contact", "/contact" %></li>
  </ul>

  <% if current_user == nil %>
    <ul class="signup"> 
      <li> <%= link_to "sign up", new_user_url %></li>
      <li> | </li>
      <li> <%= link_to "log in", new_session_url %></li>
    </ul>
  <% else %>
    <ul class="signup"> 
      <li> <%= link_to "sign out", session_url, method: "delete" %></li>
    </ul>
  <% end %>
</nav>

<hr>

<% if current_user %>
  <nav class="logged-in clearfix">
    <ul>
      <li>
        <%= link_to "mentors", "/users/mentors" %>
      </li>
      <li>
        <%= link_to "mentees", "/users/mentees" %>
      </li>
      <li>
        <%= link_to "profile", user_url(current_user) %>
      </li>
<!--       <li>
        <%= link_to "Filter Search",  '/users/:user_id/filters/new' %>
      </li> -->
    </ul>
  </nav>
<% end %>
  

<%= yield %>

<!-- <pre> session.to_hash.to_yaml </pre> -->
 
</body>
</html>
