<!DOCTYPE html>
<html>
<head>
  <title>MentorMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>

    <nav class="logged-in clearfix">

      <div class="logo">
        MentorMatch
      </div>

      <ul class="clearfix">
        <li>
          <%= button_to "Log Out", session_url, method: "delete" %>
        </li>

        <li>
          <%= link_to "Edit Profile", edit_user_url(current_user) %>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
           <%= link_to "mentee", "/users/mentees" %>
        </li>
         <li>
            <%= link_to "mentors", "/users/mentors" %>
        </li>
        <li>
          <%= link_to "Filter Search",  '/users/:user_id/filters/new' %>
        </li>
        
      </ul>
    </nav>

  <% end %>
  

 <%= yield %>

<!-- <pre> session.to_hash.to_yaml </pre> -->
 
</body>
</html>
